@import "config";
@import "animations";

// Core Styles
h2 {
  font-weight: 600;
  font-size: 2em;
  text-align: center;
}

button {
  display: block;
  padding: 12px 45px;
  text-transform: uppercase;
  color: #fff;
  font-size: 1em;
  background: none;
  border: 1px solid #fff;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    padding: 1em;
    font-size: 0.8rem;
    margin-bottom: 1em;
    border: none;
    background-color: color(input);
    outline: none;
  }

  a {
    padding: 1em;
    font-size: 0.8rem;

    &:hover {
      text-decoration: underline;
    }
  }

  button {
    background-color: color(secondary);
  }
}

// Social buttons
.social-auth {
  text-align: center;
}

a {
  color: #000;
  text-decoration: none;

  &.social {
    display: inline-flex;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 1em;

    &:hover {
      background-color: color(social);
      text-decoration: none;
      color: #fff;
      border: none;
      @include bezier(0.2s);
    }
  }
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

// Sliding Background
.focus {
  position: absolute;
  top: 0;
  width: $focus-area;
  height: 100vh;
  opacity: 1;
  overflow: hidden;
  z-index: 2;

  &.slide-r .center {
    transform: translateX(-$step3);
    transition: transform 1.2s ease-in-out;
  }

  .center {
    position: relative;
    background: color(gradient);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    width: 100vw;
    height: 100vh;
    transition: transform 1.2s ease-in-out;
  }

  &.slide-r {
    animation: $bg-anim-time go;
    animation-fill-mode: forwards;
  }

  &.slide-l {
    animation: $bg-anim-time go-back;
    animation-fill-mode: forwards;
  }
}

// togglers
#togglers {
  position: absolute;
  top: 0;
  display: grid;
  grid-template-columns: repeat(2, $focus-area);
  grid-template-rows: 100vh;
  align-items: center;
  grid-gap: $gap;
  color: #fff;
  z-index: 3;

  .signin-toggle,
  .signup-toggle {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
    align-items: center;
    // transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    @include bezier(.9s);

    p {
      font-weight: 300;
      text-align: center;
      line-height: 1.4em;
      padding: 0.8em 0;
    }
  }

  .signin-toggle.shift {
    opacity: 0;
    transform: translateX(-40%);
  }

  .signup-toggle.shift {
    opacity: 0;
    transform: translateX(40%);
  }
}

// Forms layout
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 4;
  transition: all $bg-anim-time ease-out;

  form {
    width: 60vw;

    input {
      width: 50%;
      min-width: 20vw;
    }
  }

  p {
    padding: 1em;
    text-align: center;
  }

  // Handle forms slide/show/hide
  &.signup-form {
    right: 0;

    &.hide {
      transform: translateX(-35%);
      animation: $bg-anim-time hide;
      animation-fill-mode: forwards;
    }

    &.show {
      animation: $bg-anim-time show;
      z-index: 4;
    }
  }

  &.signin-form {
    visibility: hidden;
    transition: all $bg-anim-time ease-out;

    &.hide {
      transform: translateX(35%);
      animation: $bg-anim-time hide;
      animation-fill-mode: forwards;
    }

    &.show {
      animation: $bg-anim-time show;
      animation-fill-mode: forwards;
    }
  }
}
